<table class="ui very basic sortable striped table">
  <thead>
    <tr>
      <th>Done?</th>
      <th {{action this.changeSorting 'left'}}
        class="{{if (eq sortByKey 'left') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        Left
      </th>
      <th {{action this.changeSorting 'right'}}
        class="{{if (eq sortByKey 'right') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        Right
      </th>
      <th {{action this.changeSorting 'boroName'}}
        class="{{if (eq sortByKey 'boroName') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        Boro Code
      </th>
      <th {{action this.changeSorting 'pattern.fileNameMatcher'}}
        class="{{if (eq sortByKey 'pattern.fileNameMatcher') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        File Type
      </th>
      <th {{action this.changeSorting 'date'}}
        class="{{if (eq sortByKey 'date') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        Date
      </th>
      <th {{action this.changeSorting 'currentHeader'}}
        class="{{if (eq sortByKey 'currentHeader') (if ascending 'sorted ascending' 'sorted descending')}}"
      >
        Header
      </th>
      <th>
        GOAT
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sorted as |line|}}
      <tr>
        <td rowspan="2" data-label="Completed">
          <h2 class="ui header">
            {{ui-checkbox label=""}}
          </h2>
        </td>
        <td data-label="Left">
          <h2 class="ui header">
            {{line.left}}
          </h2>
        </td>
        <td data-label="Right">
          <h2 class="ui header">
            {{line.right}}
          </h2>
        </td>
        <td data-label="Boro">
          <h2 class="ui header">
            {{line.boroName}}
          </h2>
        </td>
        <td data-label="Filename">
          <h2 class="ui header">
            {{line.pattern.functionCode}} 
            <div class="sub header">{{line.name}}</div>
          </h2>
        </td>
        <td data-label="Date">{{line.date}}</td>
        <td data-label="Header">{{line.currentHeader}}</td>
        <td data-label="Found Links">
          {{#if (eq line.functionCode '1A')}}
            <a href="http://a030-goat.nyc.gov/goat/Default.aspx?boro={{line.boroCode}}&addressNumber={{line.location.addressNumber}}&street={{line.location.street}}" target="_blank" role="button"
              class="ui neutral tiny button"
            >
              Prod
              &nbsp; <i class="icon external alternate"></i>
            </a>
          {{/if}}

          {{#if (eq line.functionCode 'BN')}}
            {{#if (await line.location)}}
              {{#let (await line.location) as |properties|}}
                <a href="http://a030-goat.nyc.gov/goat/Default.aspx?boro={{line.boroCode}}&addressNumber={{properties.addressNumber}}&street={{properties.street}}" target="_blank" role="button"
                  class="ui neutral tiny button"
                >
                  Prod
                  &nbsp; <i class="icon external alternate"></i>
                </a>
              {{/let}}
            {{/if}}
          {{/if}}
        </td>
      </tr>
      <tr local-class="line-cell">
        <td colspan="7" class="disabled" local-class="line-cell">
          <pre local-class="line-viewer">{{line.line}}</pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
