<table class="ui very basic sortable striped table">
  <thead>
    <tr>
      <th>Done?</th>
      <th {{action this.changeSorting 'left'}}
        class="{{if (eq sortByKey 'left') 'sorted ascending'}}"
      >
        Left
      </th>
      <th {{action this.changeSorting 'right'}}
        class="{{if (eq sortByKey 'right') 'sorted ascending'}}"
      >
        Right
      </th>
      <th {{action this.changeSorting 'boroName'}}
        class="{{if (eq sortByKey 'boroName') 'sorted ascending'}}"
      >
        Boro Code
      </th>
      <th {{action this.changeSorting 'fileType'}}
        class="{{if (eq sortByKey 'fileType') 'sorted ascending'}}"
      >
        File Type
      </th>
      <th {{action this.changeSorting 'date'}}
        class="{{if (eq sortByKey 'date') 'sorted ascending'}}"
      >
        Date
      </th>
      <th {{action this.changeSorting 'currentHeader'}}
        class="{{if (eq sortByKey 'currentHeader') 'sorted ascending'}}"
      >
        Header
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sorted as |line|}}
      <tr>
        <td rowspan="2" data-label="Completed">
          <h2 class="ui header">
            {{ui-checkbox label=""}}
          </h2>
        </td>
        <td data-label="Left">
          <h2 class="ui header">
            {{line.left}}
          </h2>
        </td>
        <td data-label="Right">
          <h2 class="ui header">
            {{line.right}}
          </h2>
        </td>
        <td data-label="Boro">
          <h2 class="ui header">
            {{line.boroName}}
          </h2>
        </td>
        <td data-label="Filename">
          <h2 class="ui header">
            {{line.fileType}} 
            <div class="sub header">{{line.name}}</div>
          </h2>
        </td>
        <td data-label="Date">{{line.date}}</td>
        <td data-label="Header">{{line.currentHeader}}</td>
      </tr>
      <tr local-class="line-cell">
        <td colspan="6" class="disabled" local-class="line-cell">
          <pre local-class="line-viewer">{{line.line}}</pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
