<table class="ui celled table">
  <thead>
    <tr><th>Done?</th>
    <th>Left</th>
    <th>Right</th>
    <th>Filename</th>
    <th>Date</th>
    <th>Header</th>
    <th>Line</th>
  </tr></thead>
  <tbody>
    {{#each lines as |line|}}
      <tr>
        <td data-label="Completed">
          <h2 class="ui center aligned header">
            {{ui-checkbox label=""}}
          </h2>
        </td>
        <td data-label="Left">
          <h2 class="ui center aligned header">
            {{line.left}}
          </h2>
        </td>
        <td data-label="Right">
          <h2 class="ui center aligned header">
            {{line.right}}
          </h2>
        </td>
        <td data-label="Filename">{{line.name}}</td>
        <td data-label="Date">{{line.date}}</td>
        <td data-label="Header">{{line.currentHeader}}</td>
        <td data-label="Line">
          <div local-class="line-viewer">
            <pre>{{truncate line.line 65}}...</pre>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
